In [10]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("campeonato-brasileiro-full.csv")

In [3]:
df.head()

,ID,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Mandante Placar,Visitante Placar,Estado Mandante,Estado Visitante,Estado Vencedor
0,1,1,2000-07-29,16h00,Sábado,Fluminense,Bahia,Fluminense,Maracanã,2,0,RJ,BA,RJ
1,2,1,2000-07-29,16h00,Sábado,Vasco,Sport,Sport,São Januário,0,2,RJ,PE,PE
2,3,1,2000-07-29,16h00,Sábado,Vitória,Palmeiras,Vitória,Barradão,4,1,ES,SP,ES
3,4,1,2000-07-30,17h00,Domingo,Botafogo-RJ,Atlético-MG,-,Caio Martins,0,0,RJ,MG,-
4,5,1,2000-07-30,18h30,Domingo,Juventude,Flamengo,-,Alfredo Jaconi,1,1,RS,RJ,-

In [4]:
# Demonstra Informações Estatisticas:
df.describe()

                ID  Mandante Placar  Visitante Placar
count  8319.000000      8319.000000       8319.000000
mean   4160.000000         1.588292          1.053492
std    2401.632778         1.245473          1.040604
min       1.000000         0.000000          0.000000
25%    2080.500000         1.000000          0.000000
50%    4160.000000         1.000000          1.000000
75%    6239.500000         2.000000          2.000000
max    8319.000000         7.000000          7.000000

In [5]:
df.describe(include='O')

,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Estado Mandante,Estado Visitante,Estado Vencedor
count,8319,8319,7962,8319,8319,8319,8319,8319,8319,8319,8319
unique,53,1811,59,12,61,63,59,114,15,15,16
top,16,2008-07-06,16h00,Domingo,São Paulo,Fluminense,-,Maracanã,SP,SP,-
freq,222,15,1804,3807,393,392,2148,626,2136,2136,2148

In [6]:
# INCLUI TODAS AS COLUNAS:
df.describe(include='all')

,ID,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Mandante Placar,Visitante Placar,Estado Mandante,Estado Visitante,Estado Vencedor
count,8319.000000,8319,8319,7962,8319,8319,8319,8319,8319,8319.000000,8319.000000,8319,8319,8319
unique,NaN,53,1811,59,12,61,63,59,114,NaN,NaN,15,15,16
top,NaN,16,2008-07-06,16h00,Domingo,São Paulo,Fluminense,-,Maracanã,NaN,NaN,SP,SP,-
freq,NaN,222,15,1804,3807,393,392,2148,626,NaN,NaN,2136,2136,2148
mean,4160.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.588292,1.053492,NaN,NaN,NaN
std,2401.632778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.245473,1.040604,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
25%,2080.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,NaN,NaN,NaN
50%,4160.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN
75%,6239.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,2.000000,NaN,NaN,NaN
max,8319.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.000000,7.000000,NaN,NaN,NaN

In [7]:
# Whole DF:
df.count()

# Coluna Especifica:
# df.Mandante.count()

ID                  8319
Rodada              8319
Data                8319
Horário             7962
Dia                 8319
Mandante            8319
Visitante           8319
Vencedor            8319
Arena               8319
Mandante Placar     8319
Visitante Placar    8319
Estado Mandante     8319
Estado Visitante    8319
Estado Vencedor     8319
dtype: int64

In [11]:
# Media das colunas numericas
df.mean()

ID                  4160.000000
Mandante Placar        1.588292
Visitante Placar       1.053492
dtype: float64

In [13]:
# Retorno Cumulativo da Soma de Uma Coluna:
# -> Soma o valor da linha de cima (Na coluna especificada) com o valor
#..da de baixo, e vai acumulando desta forma.
#..A ultima linha representa o somátorio da coluna toda.
# Obviamente mais recomendado para colunas Numericas.
df["Mandante Placar"].cumsum()

0           2
1           2
2           6
3           6
4           7
        ...
8314    13204
8315    13206
8316    13208
8317    13210
8318    13213
Name: Mandante Placar, Length: 8319, dtype: int64

In [18]:
# Faz Co-relação entre colunas.
df.corr()

                        ID  Mandante Placar  Visitante Placar
ID                1.000000        -0.104665         -0.088314
Mandante Placar  -0.104665         1.000000          0.055768
Visitante Placar -0.088314         0.055768          1.000000

In [24]:
# Especificando colunas para verificar Co-relação entre elas:
print(f'{df["Mandante Placar"].corr(df["Visitante Placar"]):.6f}')


# Repare que o resultado mostrado (0.055768) É o mesmo mostrado a cima.

0.055768