# JOIN & MERGE -> Two Tools ONE End

In [1]:
import pandas as pd

In [2]:
df_2008 = pd.read_csv('ath_2008.csv')

In [3]:
df_2012 = pd.read_csv('ath_2012.csv')

In [ ]:
# ESTA É UMA FORMA DE JNTAR OS DFs
pd.merge(df_2008, df_2012, how='outer', on='Athlete', suffixes=["_2008", "_2012"], indicator=True))

In [5]:
# ESTA É OUTRA FORMA

# O sufixos apontam a origem das colunas

df_2008.join(df_2012, how='outer', lsuffix="_2008", rsuffix='_2012')

,Athlete_2008,Gold_2008,Silver_2008,Bronze_2008,Athlete_2012,Gold_2012,Silver_2012,Bronze_2012
0,"ABAKUMOVA, Maria",0.0,1.0,0.0,"ADAMS, Valerie",1,0,0
1,"ABEYLEGESSE, Elvan",0.0,2.0,0.0,"ALLEYNE-FORTE, Ade",0,0,1
2,"ALEKNA, Virgilijus",0.0,0.0,1.0,"AMOS, Nijel",0,1,0
3,"ALEXEEV, Denis",0.0,0.0,1.0,"ANTYUKH, Natalya",1,1,0
4,"ANTONOVA, Olena",0.0,0.0,1.0,"ASSEFA, Sofia",0,1,0
...,...,...,...,...,...,...,...,...
166,NaN,NaN,NaN,NaN,"WILLIAMS, Lauryn",1,0,0
167,NaN,NaN,NaN,NaN,"WILLIAMS, Shericka",0,0,1
168,NaN,NaN,NaN,NaN,"WILLIAMS-MILLS, Novlene",0,0,1
169,NaN,NaN,NaN,NaN,"WLODARCZYK, Anita",1,0,0
170,NaN,NaN,NaN,NaN,"ZHANG, Wenxiu",0,0,1