In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('campeonato-brasileiro-full.csv')

In [3]:
df.head()

,ID,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Mandante Placar,Visitante Placar,Estado Mandante,Estado Visitante,Estado Vencedor
0,1,1,2000-07-29,16h00,Sábado,Fluminense,Bahia,Fluminense,Maracanã,2,0,RJ,BA,RJ
1,2,1,2000-07-29,16h00,Sábado,Vasco,Sport,Sport,São Januário,0,2,RJ,PE,PE
2,3,1,2000-07-29,16h00,Sábado,Vitória,Palmeiras,Vitória,Barradão,4,1,ES,SP,ES
3,4,1,2000-07-30,17h00,Domingo,Botafogo-RJ,Atlético-MG,-,Caio Martins,0,0,RJ,MG,-
4,5,1,2000-07-30,18h30,Domingo,Juventude,Flamengo,-,Alfredo Jaconi,1,1,RS,RJ,-

In [5]:
# VEMOS QUE A COLUNA 'DATA' ESTA COMO 'OBJECT' -> MISTURA LETRAS E NUMEROS:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8319 entries, 0 to 8318
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                8319 non-null   int64
 1   Rodada            8319 non-null   object
 2   Data              8319 non-null   object
 3   Horário           7962 non-null   object
 4   Dia               8319 non-null   object
 5   Mandante          8319 non-null   object
 6   Visitante         8319 non-null   object
 7   Vencedor          8319 non-null   object
 8   Arena             8319 non-null   object
 9   Mandante Placar   8319 non-null   int64
 10  Visitante Placar  8319 non-null   int64
 11  Estado Mandante   8319 non-null   object
 12  Estado Visitante  8319 non-null   object
 13  Estado Vencedor   8319 non-null   object
dtypes: int64(3), object(11)
memory usage: 910.0+ KB

In [6]:
# TRANSFORMA A COLUNA EM 'DATETIME':

# Salvamos a Conversão de formato na mesma Coluna:
# Definimos o formato Ano-Mes-Dia assim como mostrado na Tabela
df['Data'] = pd.to_datetime(df['Data'], format='%Y-%m-%d')

In [7]:
# AGORA A COLUNA 'DATA' ESTA NO FORMATO DATETIME:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8319 entries, 0 to 8318
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                8319 non-null   int64
 1   Rodada            8319 non-null   object
 2   Data              8319 non-null   datetime64[ns]
 3   Horário           7962 non-null   object
 4   Dia               8319 non-null   object
 5   Mandante          8319 non-null   object
 6   Visitante         8319 non-null   object
 7   Vencedor          8319 non-null   object
 8   Arena             8319 non-null   object
 9   Mandante Placar   8319 non-null   int64
 10  Visitante Placar  8319 non-null   int64
 11  Estado Mandante   8319 non-null   object
 12  Estado Visitante  8319 non-null   object
 13  Estado Vencedor   8319 non-null   object
dtypes: datetime64[ns](1), int64(3), object(10)
memory usage: 910.0+ KB

Com Isso agora podemos acessar a coluna 'Data' de forma diferenciada. Ou seja, o Pandas vai enxergar a informação nesta coluna de forma diferente.

In [8]:
# CRIAMOS UMA NOVA COLUNA -> 'Ano_Jogo' :
# Pegamos apenas o Ano com 'dt.year'
df['Ano_Jogo'] = df['Data'].dt.year

In [9]:
# A NOVA COLUNA ESTA LA NO FINAL:
df.head()

,ID,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Mandante Placar,Visitante Placar,Estado Mandante,Estado Visitante,Estado Vencedor,Ano_Jogo
0,1,1,2000-07-29,16h00,Sábado,Fluminense,Bahia,Fluminense,Maracanã,2,0,RJ,BA,RJ,2000
1,2,1,2000-07-29,16h00,Sábado,Vasco,Sport,Sport,São Januário,0,2,RJ,PE,PE,2000
2,3,1,2000-07-29,16h00,Sábado,Vitória,Palmeiras,Vitória,Barradão,4,1,ES,SP,ES,2000
3,4,1,2000-07-30,17h00,Domingo,Botafogo-RJ,Atlético-MG,-,Caio Martins,0,0,RJ,MG,-,2000
4,5,1,2000-07-30,18h30,Domingo,Juventude,Flamengo,-,Alfredo Jaconi,1,1,RS,RJ,-,2000

In [13]:
display(df[['Ano_Jogo']])

      Ano_Jogo
0         2000
1         2000
2         2000
3         2000
4         2000
...        ...
8314      2021
8315      2021
8316      2021
8317      2021
8318      2021

[8319 rows x 1 columns]

In [14]:
# PARA CRIAR UM NOVO DATAFRAME COM UMA INFORMAÇÃO ESPECIFICA DO DF ORIGINAL:
df_2002 = df.loc[df.Ano_Jogo == 2002]
df_2002.head()

# pegamos todas as linhas relacionadas com a coluna que contem 2002.

,ID,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Mandante Placar,Visitante Placar,Estado Mandante,Estado Visitante,Estado Vencedor,Ano_Jogo
716,717,1,2002-08-10,NaN,Sábado,Goiás,Portuguesa,Goiás,Serra Dourada,3,1,GO,SP,GO,2002
717,718,1,2002-08-10,NaN,Sábado,Paraná,São Caetano,Paraná,Couto Pereira,2,1,PR,SP,PR,2002
718,719,1,2002-08-10,NaN,Sábado,Santos,Botafogo-RJ,Santos,Vila Belmiro,2,1,SP,RJ,SP,2002
719,720,1,2002-08-10,NaN,Sábado,São Paulo,Paysandu,São Paulo,Morumbi,4,2,SP,PA,SP,2002
720,721,1,2002-08-10,NaN,Sábado,Vasco,Figueirense,Vasco,São Januário,2,0,RJ,SC,RJ,2002

In [15]:
# COMO SAR O BETWEEN :
# CRIANDO UM DF COM AS INFORMAÇÕES COM REFERENCIA ENTRE AS DATAS DE 2000 A 2003:

df_bet = df.loc[df.Ano_Jogo.between(2000, 2003, inclusive='both')]

# FONTE:
#  https://pandas.pydata.org/docs/reference/api/pandas.Series.between.html
# Exemplo:
#  df.between(left, right, inclusive='both')

In [16]:
# PRIMEIRAS 5 LINHAS DO DF   Ref ao Ano 2000:
df_bet.head()

,ID,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Mandante Placar,Visitante Placar,Estado Mandante,Estado Visitante,Estado Vencedor,Ano_Jogo
0,1,1,2000-07-29,16h00,Sábado,Fluminense,Bahia,Fluminense,Maracanã,2,0,RJ,BA,RJ,2000
1,2,1,2000-07-29,16h00,Sábado,Vasco,Sport,Sport,São Januário,0,2,RJ,PE,PE,2000
2,3,1,2000-07-29,16h00,Sábado,Vitória,Palmeiras,Vitória,Barradão,4,1,ES,SP,ES,2000
3,4,1,2000-07-30,17h00,Domingo,Botafogo-RJ,Atlético-MG,-,Caio Martins,0,0,RJ,MG,-,2000
4,5,1,2000-07-30,18h30,Domingo,Juventude,Flamengo,-,Alfredo Jaconi,1,1,RS,RJ,-,2000

In [17]:
# ULTIMAS 5 LINHAS DO DF   Ref ao ano de 2003:
df_bet.tail()

,ID,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Mandante Placar,Visitante Placar,Estado Mandante,Estado Visitante,Estado Vencedor,Ano_Jogo
1600,1601,46,2003-12-14,16h00,Domingo,Bahia,Cruzeiro,Cruzeiro,Fonte Nova,0,7,BA,MG,MG,2003
1601,1602,46,2003-12-14,18h00,Domingo,São Paulo,Flamengo,Flamengo,Morumbi,1,3,SP,RJ,RJ,2003
1602,1603,46,2003-12-14,16h00,Domingo,Fluminense,Juventude,Fluminense,Maracanã,1,0,RJ,RS,RJ,2003
1603,1604,46,2003-12-14,16h00,Domingo,Grêmio,Corinthians,Grêmio,Olímpico Monumental,3,0,RS,SP,RS,2003
1604,1605,46,2003-12-14,16h00,Domingo,Ponte Preta,Fortaleza,Ponte Preta,Moisés Lucarelli,2,0,SP,CE,SP,2003

In [22]:
# USANDO O ISIN:

#Lista
intervalo_ano = [2000, 2003]

# Os primeiros 5 Valores estão neste intervalo ?
df.Ano_Jogo.isin(intervalo_ano).head()

# True

0    True
1    True
2    True
3    True
4    True
Name: Ano_Jogo, dtype: bool

In [23]:
# Os ultimos 5 ...
df.Ano_Jogo.isin(intervalo_ano).tail()

# False

8314    False
8315    False
8316    False
8317    False
8318    False
Name: Ano_Jogo, dtype: bool

In [24]:
# PEGAR VALORES QUE NÃO ESTÃO NO INTERVALO SUPRA CITADO:

# A diferença esta no simbolo ~ 

df_not_interval = df.loc[~df.Ano_Jogo.isin(intervalo_ano)]

In [28]:
# AGORA VEMOS TODOS MENOS 2000 & 2003

df_not_interval.Ano_Jogo.unique()

array([2001, 2002, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021])